Generelt/

Realfagskjellern/

**/.idea/

Informatikk/julekalender_knowit/.idea/

Informatikk/julekalender_knowit/venv/

V2019/TDT4140/bok.pdf

Informatikk/H2019/Studass/*

Informatikk/H2018/Studass/*

Informatikk/Bøker/IR.pdf

Informatikk/H2019/TDT4165/Ovinger/TDT4165_Scala

Icon\r

*/Icon\r

#############################
#       LaTex ignores       #
#############################


**/*.aux


**/*.log


**/*.out


**/*.gz


**/*.syntex.gz


**/*.png




#############################
#   Trættebergs .ex filer   #
#############################
**/*.ex



#############################
#  .d filer, probs datadig  #
#############################


**/*.d



#############################
#  .pde filer fra plab      #
#############################


**/*.pde

**/__pycache__/
**__pycache__
__pycache__

Icon[]