Generelt/

Realfagskjellern/
.idea/

Informatikk/julekalender_knowit/.idea/
Informatikk/julekalender_knowit/venv/
Informatikk/V2019/TDT4140/bok.pdf
Informatikk/V2019/TDT4145/Øvinger/Øving1/*.log
Informatikk/V2019/TDT4145/Øvinger/Øving1/*.aux
Informatikk/V2019/TDT4145/Øvinger/Øving1/*.out
Informatikk/V2019/TDT4145/Øvinger/Øving1/*.synctex.gz