Generelt/

Realfagskjellern/
.idea/

Informatikk/julekalender_knowit/.idea/
Informatikk/julekalender_knowit/venv/
V2019/TDT4140/bok.pdf
V2019/TDT4145/Øvinger/Øving1/*.log
V2019/TDT4145/Øvinger/Øving1/*.aux
V2019/TDT4145/Øvinger/Øving1/*.out
V2019/TDT4145/Øvinger/Øving1/*.synctex.gz